body{
    font-family: "Source Sans Pro", sans-serif;
    line-height: 1.7;
    color: var(--body);
}
 
h1,h2,h3,h4,h5,h6{
    font-weight: 700;
    color: var(--dark);
    font-family: "Domine", sans-serif;
   
}
 
a{
    color: var(--dark);
    text-decoration: none;
    transition: all 0.4s linear;
}
 
a:hover{
    color: var(--brand);
}
 
img{
    width: 100%;
}
 
section{
    padding-top: 100px;
    padding-bottom: 100px;
}
 
#hero{
    min-height: 100vh;
   background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)), url(../../assets/images/Teamwork.jpeg);
    background-size: cover;
    background-position: center;
    text-align: center;
     display: flex;
     align-items: center;
     background-attachment: fixed;
}
 
#hero h1,
#hero p{
color: white;
}
 
#hero .input-group{
 padding: 6px;
 background-color: rgba(255, 255, 255, 0.3);
 border-radius: 4px;
}
 
#hero .input-group input {
    border: none;
    background-color: transparent;
    color: white;
 
}
 
#hero .input-group input:focus{
    box-shadow: none;
}
 
#hero .input-group input::placeholder{
    color: rgba(6, 6, 6, 0.5);
}
 
 
#hero p{
    max-width: 500px;
    margin: 12px auto 28px auto;
}
 
#hero h1{
    color: rgb(65, 11, 65);
    font-size: 60px;
    font-weight: 700;
}
 
.read{
    font-style: italic;
    font-size: 20px;
    color: rgb(168, 165, 202);
}
 
.read-all{
    color: rgb(3, 3, 3);
    font-size: 40px;
}
 
/*BTN*/
.btn{
padding: 12px 28px;
font-size: 14px;
text-transform: uppercase;
font-weight: 700;
transition: all 0.4s ease;
}
 
.btn-brand {
   background-color: rgb(88, 30, 109);
   border-radius: 3px;
   color: white;
}
 
.btn:hover{
    transform: translateY(-3px);
}
 
.btn-brand:hover{
    color: purple;
}
 
.custom-link{
    color: rgb(197, 199, 60);
    font-weight: 700;
}
 
.team-member .team-member-img{
    position: relative;
    overflow: hidden;
}
 
.team-member-img{
    width: 120px;
    align-items: center;
}
 
.social-link a {
    width: 32px;
    height: 32px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
}
 
.meet{
    color: rgb(6, 6, 6);
    font-size: 50px;
    text-align: center;
}
 
.meet2{
    color: rgb(152, 151, 147);
    font-size: 16px;
    text-align: center;
}
.meet3{
    color: rgb(9, 9, 9);
    font-size: 17px;
    text-align: center;
}
.meet4{
    color: rgba(189, 169, 50, 0.938);
    font-size: 13px;
    text-align: center;
}
 
.team-member:hover img{
   transform: scale(1.1);
}
 
.team-member img{
    transition: all 0.54s ease;
}
 
.name{
    color: rgb(208, 203, 45);
}