<div class="container mt-4">
  <h1 class="read-all">Welcome to IncidentDotCom..</h1>
  <p class="read">
    <strong>Here we are prompt, reliable, secure, and timely!</strong>
  </p>
</div>

<section id="hero">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1 class="display-3"></h1>
        <p>
          "Our vision at <strong class="name">IncidentDotCome</strong> is to
          create a safe and respectful online environment where individuals can
          report incidents anonymously and securely. We strive to empower users
          to speak up about any concerns they may have, fostering a community of
          trust and support. Our goal is to address and resolve reported
          incidents promptly, ensuring a positive and inclusive digital space
          for all users. Through transparency, accountability, and continuous
          improvement, we envision the incident website as a platform that
          promotes understanding, empathy, and meaningful change in the online
          world".
        </p>
        <a
          href="https://www.tsas.ca/canadian-incident-database/"
          class="custom-link"
          ><strong>Read More</strong></a
        >
        <br />
        <br />
      </div>
    </div>
    <div class="row" class="col-lg-6 mx-auto">
      <form action="#">
        <div class="input-group">
          <input
            type="text"
            class="form-control"
            placeholder="Enter Your E-mail Address"
            aria-label="Recipient's username"
            aria-describedby="basic-addon2"
          />
          <div class="input-group-append">
            <button class="btn btn-brand" type="button">
              Subscribe to our Newsletter
            </button>
          </div>
        </div>
      </form>
    </div>
  </div>
</section>

<section id="team">
  <div class="container">
    <div class="row">
      <div class="col-12 section-intro">
        <h1 class="meet">Our Team Members</h1>
        <p class="meet2">
          <strong
            >Our team is nothing short of amazing! Together, we form a
            powerhouse of talent, creativity, and dedication.</strong
          >
        </p>
        <br />
        <br />
      </div>
    </div>
    <div class="row">
      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-img">
            <!-- <img src="./assets/images/teammember1.jpg" alt="" /> -->
          </div>
          <h3 class="meet3">Blessing Akintonde</h3>
          <h5 class="meet4">Web Designer</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-img">
            <!-- <img src="./assets/images/member3.jpeg" alt="" /> -->
          </div>
          <img
            src="./assets/images/prosper.jpg"
            alt=""
            style="width: 120px; height: 103px; display: block; margin: 0 auto"
          />
          <h3 class="meet3">Prosper Alabi</h3>
          <h5 class="meet4">Project Manager</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-img">
            <!-- <img src="./assets/images/teamMember2.jpg" alt="" /> -->
          </div>
          <h3 class="meet3">Eunice Adinlewa</h3>
          <h5 class="meet4">Database Developer</h5>
        </div>
      </div>

      <div class="col-lg-3 col-md-6">
        <div class="team-member">
          <div class="team-member-img">
            <img
              src="./assets/images/rodolfo.jpg"
              alt=""
              style="
                width: 120px;
                height: 103px;
                display: block;
                margin: 0 auto;
              "
            />
            <h3 class="meet3">Borbon Rodolfo</h3>
            <h6 class="meet4">Lead Software Developer</h6>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
