<link
  href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css"
  rel="stylesheet"
  id="bootstrap-css"
/>
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

<!--footer-->
<footer class="kilimanjaro_area">
  <!-- Top Footer Area Start -->
  <div class="foo_top_header_one section_padding_100_70">
    <div class="container">
      <div class="row">
        <!-- About Us -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="kilimanjaro_part">
            <h5>About Us</h5>
            <p>
              The Incident Management Dashboard is an interactive and
              user-friendly tool, ideal for organizations that need to track and
              manage incidents efficiently.
            </p>
            <p>
              Our company is completely creative, clean & 100% responsive
              website. Put your business into the next level with us.
            </p>
          </div>
        </div>
        <!-- Social Links -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="kilimanjaro_part m-top-15">
            <h5>Social Links</h5>
            <ul class="kilimanjaro_social_links">
              <li>
                <a href="#"
                  ><i class="fa fa-facebook" aria-hidden="true"></i> Facebook</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-twitter" aria-hidden="true"></i> Twitter</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-pinterest" aria-hidden="true"></i>
                  Pinterest</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-youtube" aria-hidden="true"></i> YouTube</a
                >
              </li>
              <li>
                <a href="#"
                  ><i class="fa fa-linkedin" aria-hidden="true"></i> Linkedin</a
                >
              </li>
            </ul>
          </div>
        </div>
        <!-- Quick Contact & Latest Works -->
        <div class="col-12 col-md-6 col-lg-4">
          <div class="kilimanjaro_part">
            <h5>Quick Contact</h5>
            <div class="kilimanjaro_single_contact_info">
              <h6>Phone:</h6>
              <p>+255 255 54 53 52 <br />+255 255 53 52 51</p>
            </div>
            <div class="kilimanjaro_single_contact_info">
              <h6>Email:</h6>
              <p>
                incidents@my.centennialcollege.com
                <br />support@my.centennialcollege.com
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Footer Bottom Area Start -->
  <div class="kilimanjaro_bottom_header_one section_padding_50 text-center">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <p>
            © All Rights Reserved by
            <a href="/home">INCIDENTS-DOT-COM<i class="fa fa-heart"></i></a>
          </p>
        </div>
      </div>
    </div>
  </div>
</footer>
