<!-- app/close-incidents-dashboard.component.html -->

<div class="container mt-4">
  <h1>Closed Incidents Dashboard</h1>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Incident Record Number</th>
        <th scope="col">Incident Description</th>
        <th scope="col">Incident Priority</th>
        <th scope="col">Name</th>
        <th scope="col">Phone Number</th>
        <th scope="col">Address</th>
        <th scope="col">Incident Narrative</th>
        <th scope="col">Incident Status</th>
        <th scope="col">Incident Resolution</th>
        <th scope="col">Incident close date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let closedIncident of closedIncidentArray">
        <td data-title="Incident Record Number">
          {{ closedIncident.incidentRecordNumber }}
        </td>
        <td data-title="Incident Description">
          {{ closedIncident.incidentDescription }}
        </td>
        <td data-title="Incident Priority">
          {{ closedIncident.incidentPriority }}
        </td>
        <td data-title="Name">{{ closedIncident.customerName }}</td>
        <td data-title="Phone Number">
          {{ closedIncident.customerPhoneNumber }}
        </td>
        <td data-title="Address">{{ closedIncident.customerAddress }}</td>
        <td data-title="Incident Narrative">
          {{ closedIncident.incidentNarrative }}
        </td>
        <td data-title="Incident Status">
          {{ closedIncident.incidentStatus }}
        </td>
        <td data-title="Incident Resolution">
          {{ closedIncident.incidentResolution }}
        </td>
        <td data-title="Incident close date">
          {{ closedIncident.closedDate | date : "short" }}
        </td>
      </tr>
    </tbody>
  </table>
</div>
