
.login-input {
    width: 450px; 
    padding: 5px 10px; 
    font-size: 1.5em; 
   
}

.center-container {
    max-width: 500px;
    margin: auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

.center-container > div {
    text-align: left;
}


.btn-4 {
    background-color: #634af1;
    padding: 10px 20px;
    font-size: 0.95em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #faf9f9;
}

.btn-4:hover {
    background-color: #c7d4f7;
}

h1 {
    font-size: 3em;
    color:rgb(69, 68, 68);
    text-align: center;
  
}