<div class="container">
  <h1>User Registration</h1>
  <div class="center-container">
    <form
      (ngSubmit)="registerUser(registrationForm)"
      #registrationForm="ngForm"
    >
      <div class="form-group">
        <label for="username">Username:</label>
        <input
          type="text"
          id="username"
          required
          [(ngModel)]="newUser.username"
          name="username"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="password">Password:</label>
        <input
          type="password"
          id="password"
          required
          [(ngModel)]="newUser.password"
          name="password"
          class="form-control"
        />
      </div>
      <div class="form-group">
        <label for="email">Email:</label>
        <input
          type="email"
          id="email"
          required
          [(ngModel)]="newUser.email"
          name="email"
          class="form-control"
        />
      </div>
      <button type="submit" class="btn btn-4">Register</button>
    </form>
  </div>
</div>
<br />
<br />
<br />
<br />
