.container {
    max-width: 600px;
    margin: auto;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    padding: 20px;
    background-color: #ffffff;
    border-radius: 8px;
}

h2 {
    color: #333;
    border-bottom: 2px solid #eee;
    padding-bottom: 10px;
    margin-bottom: 20px;
    text-align: center;
    font-size: 2em;
}

.form-group label {
    font-weight: 500;
    color: #555;
    font-size: 0.95em;
    margin-bottom: 8px;
}

.form-control {
    padding: 12px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.95em;
    transition: all 0.3s ease-in-out;
}
.form-control-dropdown {
    padding: 12px 15px;
    border-radius: 4px;
    border: 1px solid #ccc;
    font-size: 0.95em;
    transition: all 0.3s ease-in-out;
    width: 220px;
    height: 30px;
    background-color: #ffffff;
}

.form-control:focus {
    border-color: #233de0;
    box-shadow: 0 0 0 0.2rem rgba(0,123,255,.25);
}

.form-group textarea.form-control {
    resize: vertical;  /* restricts resizing only vertically */
}

.btn-1 {
    background-color: #b5b5f8;
    padding: 10px 20px;
    font-size: 0.95em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #040303;
}
.btn-2 {
    background-color: #bc4bbe;
    padding: 10px 20px;
    font-size: 0.95em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #030303;
}
.btn-3 {
    background-color: #634af1;
    padding: 10px 20px;
    font-size: 0.95em;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
    color: #faf9f9;
}

.btn-1:hover {
    background-color: #c7d4f7;
}

.btn-2:hover {
    background-color: #e9a1d6;
}

.btn-3:hover {
    background-color: #a00c0c;
}
/* Add some space between form groups for better layout */
.form-group {
    margin-bottom: 20px;
}

/****************************** Dashboard ********************/
/* Main container styling */
.container3 {
    font-family: 'Arial', sans-serif;
    max-width: 100%;
    margin: 0 auto;
    padding: 20px;
    background-color: #ffffff;
    border-radius: 5px;
   
}

h1 {
    text-align: center;
    color: #040404;
    margin-bottom: 20px;
    font-size: 2em;
}

.table-active {
    width: 100%;
    max-width: 100%;
    margin-bottom: 1rem;
    background-color: transparent;
    border-collapse: collapse;
}

.table-active th,
.table-active td {
    border: 1px solid #ffffff;
    padding: 0.75rem;
    vertical-align: top;
    text-align: left;
}

.table-active thead th {
    vertical-align: bottom;
    border-bottom: 2px solid #dee2e6;
    background-color: #a1a3b7;
    color:#040404;
    text-align: center;
}

.table-active tbody tr:nth-of-type(odd) {
    background-color: #f2f2f2;
}

.table-active tbody tr:hover {
    background-color: #e6e6e6;
}

/* Adjusting for columns that may have more content */
.table-active td {
    min-width: 100px;
    overflow: visible;  
    text-align: center;
    white-space: normal;  
}

/* Special consideration for Description and Narrative columns which might contain more data */
.table-active td:nth-child(2), /* Incident Description */
.table-active td:nth-child(7) /* Incident Narrative */ {
    white-space: normal; 
}

/* Dropdown and button styling */
.table-active select {
    padding: 5px 10px;
    border: 0.5px solid #dfd6d6;
    border-radius: 4px;
}

.table-active .btn {
    padding: 5px 15px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    text-align: center;
}

.table-active .btn:hover {
    background-color: #832b05;
}
