.navbar-brand img {
    height: 80px; /* Adjust as necessary */
    width: 180px; /* maintain aspect ratio */
    margin-right: 15px; /* space between image and the website name */
}

.container-fluid {
    background-color: #020312;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');

.navbar-nav {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.1em;
    color: #ffffff;
    gap: 20px;
}

.nav-link {
    color: #e6e0e0; /* This sets the default link color */
}

.nav-link:hover {
    color: #ffffff; /* Lighten the color slightly when hovered */
}

/* Active Page Styles */
.nav-link.active {
    font-weight: bold; 
    font-size: 1.6em; /* Increase size for the active link */
}
