.app-container {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full height of the viewport */
}

app-navbar {
  flex: 0; /* Navbar takes up only as much space as needed */
}

router-outlet {
  flex: 1; /* Content stretches to fill available space */
  /* Add any additional styles like padding or background here */
}

app-footer {
  flex: 0; /* Footer takes up only as much space as needed */
}


footer a {
    color: #999;
    text-decoration:none;
  }
  
  footer a:hover, footer a:focus {
    color: #aaa;
    text-decoration:none;
    border-bottom:1px dotted #999;
  }
  
  footer .form-control {
      background-color: #1f2022;
      box-shadow: 0 1px 0 0 rgba(255, 255, 255, 0.1);
      border: none;
      resize: none;
      color: #d1d2d2;
      padding: 0.7em 1em;
  }